@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Custom */


.address {
  background-color: rgb(9,37,50);
  color: white;
  text-align: left;
  border-bottom: 1px solid rgb(98, 111, 116);
}
.bold {
  font-weight: bold;
}
.btn-edit-step {
  float: right;
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  border: 2px solid rgb(47,158,193);
  background-color: transparent;
  color: rgb(47,158,193);
  font-weight: bold;
}
.btn-edit-step:hover {
  background-color: rgb(47,158,193);
  color: white;
  text-decoration: none;
}
.download-progress {
  position: absolute;
  right: 50px;
  top: 20px;
  font-weight: bold;
}
.gray {
  color: gray
}
.nav-bar {
  border: 1px solid red;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 65vw;
  height: 20vh;
}
.nav-btn {
  float: right;
  border-radius: 25px;
  padding: 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 0 0;
  text-decoration: none;
}
.nav-btns {
  margin-right: 40px;
}
.nav-next {
  border: 2px solid rgb(47,158,193);
  background-color: rgb(47,158,193);
  color: white;
}
.nav-next:hover {
  background-color: white;
  color:rgb(47,158,193);
  border: 2px solid rgb(47,158,193);
  text-decoration: none;
}
.nav-back {
  border: 2px solid white;
  background-color: white;
  color: rgb(47,158,193);
}
.nav-back:hover {
  border: 2px solid rgb(47,158,193);
  background-color: rgb(47,158,193);
  color: white;
  text-decoration: none;
}
.line-h {
  line-height: 10px;
}
.more-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color:  rgb(47,158,193);
}
.pad-b-10{
  padding-bottom: 15px;
}
.pad-l-20{
  padding-left: 20px;
}
.pad-l-40{
  padding-left: 40px;
}
.pad-t-10 {
  padding-top: 10px;
}
.pad-t-20 {
  padding-top: 20px;
}
.proj-details-a {
  background-color: white;
  padding: 0 30px 0 30px;
}
.proj-details {
  margin: 0 30px 0 30px;
  border-top: 1px solid rgb(194, 194, 194);
}
.sidebar {
  border: 1px solid blue;
  position: absolute;
  top: 0px;
  bottom: 200px;
  left: 0px;
  width: 35vw;
  height: 95vh;
  background-color:rgb(249,249,249);
  overflow: scroll;
}
.sidebar div {
  text-align: left;
  padding: 30px;
}
.step-card {
  position: absolute;
  top: 20vh;
  border: 1px solid green;
  padding: 10px 40px 50px 40px;
  height: 75vh;
  left: 35vw;
  right: 0px;
  overflow: scroll;
}
.step-1 {
  position: absolute;
  top: 50px;
  width: 60vw;
}
.sys-card {
  border: 1px solid rgb(104, 145, 179);
  height: 250px;
  margin-bottom: 20px;
}
.sys-check {
  position: absolute;
  top: 5px;
  right: 10px;
}
.sys-icon {
  position: absolute;
  top: 55px;
  left: 55px;
}
.sys-name {
  position: absolute;
  top: 5px;
  left: 30px;
  width: 200px;
  text-align: left;
}
.txt-10 {
  font-size: 10px;
}
.txt-15 {
  font-size: 15px;
}
.txt-20 {
  font-size: 20px;
}
.txt-25 {
  font-size:25px;
}
.txt-30 {
  font-size: 30px
}
.txt-40 {
  font-size: 40px
}
.under-blue {
  border-bottom: 1px solid rgb(47,158,193);
  margin: 0 20px 0 20px;
}
.zoom-3x {
  zoom: 3;
}